<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pair.name %>
</p>
<% unless @pair.ticker.nil? %>
  <p>
    <strong>High:</strong>
    <span id="<%= @pair.name %>-high"><%= @pair.ticker.high %></span>
  </p>
  <p>
    <strong>Low:</strong>
    <span id="<%= @pair.name %>-low"><%= @pair.ticker.low %></span>
  </p>
  <p>
    <strong>Last:</strong>
    <span id="<%= @pair.name %>-last"><%= @pair.ticker.last %></span>
  </p>
<% end %>
<div>
  <%= link_to 'Update Data', pair_ticker_path(@pair), method: :patch %>
</div>
<div>
  <%= link_to 'Show History', pair_history_path(@pair) %>
</div>
<%= link_to 'Edit', edit_pair_path(@pair) %> |
<%= link_to 'Back', pairs_path %>